.question{
	/*background-color: #FF1200;*/
	background-image: linear-gradient(to left, #FF5440,#E82E20,#EB2121);
	border: inset #FF8B80 5px;
	border-radius: 15px;
	font-size: 18px;
	height: 120px;
	width: 1600px;
	margin: 40px 0px 0px 150px;
	/*background-color: rgba(255,255,255,0.3);*/
}
.alternativas{
	margin: 60px 0px 0px 150px;
	position: relative;
	height: 530px;
	width: 1600px;
}

.alternativa{
	background-image: linear-gradient(to left, #FF5440,#E82E20,#EB2121);
	border: inset #FF8B80 5px;
	border-radius: 15px;
	font-size: 30px;
	color: rgba(2555,255,255,0.9);
	height: 70px;
	width: 700px;
	margin-bottom: 30px;
	text-align: left;
	padding-left: 70px;
	position: relative;
	z-index: 1;
	
}
.option{
	position: absolute;
	height: 55px;
	width: 55px;
	border: solid black 1px;
	border-radius: 50%;
	background-color: rgba(2555,255,255,0.9);
	z-index: 2;
	text-align: center;
	margin: 5px;
	font-size: 35px; 
	color: #3D74FF;
}

.estado-atual{
	position: absolute;
	bottom: 50px;
	height: 100px;
	width: 1600px;
}



