
.image{
	display: block;
 	margin-left: auto;
  	margin-right: auto;
  	width: 18%;
  	margin-bottom: 10px;
  	margin-top: 5px; 

}

.header{
	padding: 10px 16px;

}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #48BEFF;
  text-align: center;
  font-weight: bold;
  background-color: rgba(255,255,255,0.8);
}

.login-form {
	border: solid 1px white;
	border-radius: 5px;
	margin-left: 800px;
	margin-top: 100px;
	text-align: center;
	height: 400px;
	width: 300px;
	background-color: white;
	position: absolute;
	z-index: 1;

}
.icon-border{
	text-align: center;
	position: absolute;
	z-index: 2;
	margin-left: 910px;
	margin-top: 60px;
	width: 80px;
	height: 80px;
	background-color: #357AE8;
	border-radius: 50%;
}
.fa-user{
	position:relative;
    top: 30%;
    color: white;
}

.field{
	padding: 10px;
	margin: 10px;
}
.btn{
	padding: 5px 25px 5px 25px;
	border-radius: 5px;
	margin-top: 10px;
	margin-bottom: 20px;
	background-color: #357AE8;
	color: white;
	font-weight: bold;
}

.container{
	width: 100vw;
	height: 70vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
/*.container::after {
  content: "";
  background: url("../assets/images/dollar.jpg");
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}*/
.playbutton{
	border: solid white;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	font-size: 30px;
	background-color: white;
}

.leaderboard{
	float: left;
	margin-top: 100px;
	margin-left: 150px;
	height: 600px;
	width: 300px;
	border: solid 1px white;
	border-radius: 10px;
	background-color: white;
}

.pergunta{
	/*background-color: #FF1200;*/
	background-image: linear-gradient(to right, #FF5440,#E82E20,#EB2121);
	border: solid;

	border-radius: 15px;

	font-size: 18px;
	height: 120px;
	width: 1600px;
	margin: 40px 0px 0px 150px;
	/*background-color: rgba(255,255,255,0.3);*/
}
.alternativas{
	margin: 60px 0px 0px 150px;
	position: relative;
	height: 530px;
	width: 1600px;
}
.estado-atual{
	position: absolute;
	bottom: 50px;
	height: 100px;
	width: 1600px;
}
h1{
	color: white;
	opacity: 0.9;
}
h2{
	font-size: 25px;
	padding: 50px 0px 0px 20px;
}

body{
	padding: 0px;
	margin: 0px;
	/*background-color: #48BEFF;*/
	background-image: linear-gradient(to right, #3DFFFC, #38DEFF, #49BFFF,#1F87FF,#3D74FF);
}

p{
	margin-top: 5px;
}
